body {
    padding: 10px;
    background-color: #101010 !important;
}

p {
    font-size: 20px;
    color: #d3d3d3;
}

h1 {
    color: black;
}

h2 {
    color: #d0d0d0;
    font-size: 3vmin !important;
}

.sidebar {
    background-color: #3d5d79;
    padding: 10px;
    text-align: center;
}

.logos {
    background-color: #3d795d;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}

.logo {
    width: 200px !important;
    margin-left: 25px;
    margin-right: 25px;
}

.fa {
    margin: 10px;
    font-size: 30px !important;
    color: black;
}